{% extends "./base.html" %}
{% load all_adv_tags %}


{% block content %}

<!----------------------пользовательский простой тег для рубрик-------------------->
{% get_rubrics as rubrics %}
<!--    -----------------фильтр по рубриккам-------------------->
     Выбор по рубрикам:
    {% for rubric in  rubrics %}
        <a href="{{rubric.get_absolute_url}}">{{rubric.name}}.</a>

    {% endfor %}<br>
<!--    ---------------------фильтр по подрубрикам--------------->
    Выбор по подрубрикам:
    {% for r in SUB_RUBRICS_ARR %}
        {% if r in RUBRIC_ARR %}
            {{r}}
        {% else %}
            <a href="{% url 'by_subrubric' r %}">{{r}}</a>
        {% endif  %}
    {% endfor %}

    <div class="adv-card-one adv-card">
        <div>
            {% if adv.photo  %}
            <p><img class='adv_photo' alt='photo' src="{{adv.photo.url}}"></p>
            {% endif %}
            </div>
        <div>
            <p>{{ adv.title }}</p>
            <p>ID: {{ adv.id }}</p>
            <p>{{ adv.content|linebreaks }}</p>
            <p><a href="{{adv.get_absolute_url}}">{{ adv.rubric.name }}. </a>{{ adv.subrubric }}</p>
            <p>{{ adv.published|date:"d.m.Y H:i:s" }}</p>
        </div>
    </div>

{% endblock %}