.adv-card{
    border: 1px solid white;
    margin-bottom: 5px;
}
.main-screen{
    display:flex;
}
/* -----------------------------блок фильтр--------------------------*/
.filter-block{
    min-width:250px;
    border:1px solid white;
    padding: 5px;
}
.filter_line{
    border: 1px solid white;
}
.main-subrubric{
    position: relative;
}
.subrubric_hidden{
    position:absolute;
    top: 55px;
    left: 580px;

    width:700px;
    height:400px;
    border: 1px solid white;
    background-color: grey;
}
.main-subrubric > img{
    margin-top: -20px;
    cursor:  pointer;
}